
$color-white: #ffffff;
$color-text: whitesmoke;
$color-accent: #5dbbff;
$color-light-border: rgba(255, 255, 255, 0.2);
$color-bg-dark: rgba(0, 0, 0, 0.4);
$color-card-bg: rgba(44, 44, 66, 0.384);
$color-table-bg: #3a2c5259;
$color-table-header: #2e2b60;
$color-hover: rgba(255, 255, 255, 0.1);
$primary-bg: rgba(44, 44, 66, 0.384);
$shadow: 0 0 10px rgba(0, 0, 0, 0.877);

$font-title: "Bungee", sans-serif;
$font-script: "Story Script", sans-serif;
$font-body: "Oswald", sans-serif;

$radius: 10px;
$transition: 0.3s ease;
$blur: (10px)